:root {
  --primary: hsl(230, 49%, 41%);
  --primary-10: hsl(234, 62%, 26%);
  --primary-9: hsl(232, 51%, 36%);
  --primary-5: hsl(227, 50%, 59%);
  --primary-4: hsl(225, 57%, 67%);
  --primary-2: hsl(224, 67%, 76%);
  --primary-1: hsl(221, 78%, 86%);
  --primary-0: hsl(221, 68%, 93%);
  --primary-border: hsl(224, 67%, 76%);
  --light-0: hsl(216, 33%, 97%);
}
