:root {
  --primary: hsl(230, 49%, 41%);
  --primary-10: hsl(234, 62%, 26%);
  --primary-9: hsl(232, 51%, 36%);
  --indigo-6: hsl(227, 42%, 51%);
  --indigo-5: hsl(227, 50%, 59%);
  --indigo-4: hsl(225, 57%, 67%);
  --primary-2: hsl(224, 67%, 76%);
  --primary-1: hsl(221, 78%, 86%);
  --primary-0: hsl(221, 68%, 93%);
  --primary-border: hsl(224, 67%, 76%);
  --light-0: hsl(216, 33%, 97%);
  --grey-10: hsl(209, 61%, 16%);

  --light-background: hsl(210, 36%, 96%);
  --light-text: hsl(209, 61%, 16%);

  --dark-background: hsla(0, 0%, 7%, 1);
  --dark-bg-1: hsl(240, 1.1%, 18.2%);
  --dark-text: hsl(210, 36%, 96%);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --light-background: hsla(0, 0%, 7%, 1);
  }
} */
