@import './color.css';
/* page transition */
.page-enter-active, .page-leave-active {
  transition: all 0.4s;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: scale(0)
}
/* elements */

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  z-index:1;
}
html {
  font-family: 'Fira Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 17px;
  overflow-x: hidden;
}
p{
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
}
a.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--teal-9);
  font-size: 20px;
}
a.nav-link:before, a.nav-link:after {
  content: '';
  position: absolute;
  transition: transform .25s ease;
}
a.nav-link:before {
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: hsl(29, 80%, 44%);
  transform: scaleX(0);
}
a.nav-link:hover:before {
  transform: scaleX(1);
}
a.nav-link.nuxt-link-exact-active:before {
  transform: scaleX(1);
}
.nav-link-icon {
  fill: var(--teal-9)
}

/* layout */

.right-col, .left-col{
  max-width: 440px;
  width: 100%;
  min-width: 200px;
}
.right-col{
  padding-left: 24px;
}
.left-col{
  padding-right: 24px;
}
.col-4{
  width: 33%;
  min-width: 220px;
}
.title-area{
  margin-right: 32px;
  flex-grow: 1;
  padding-top:64px;
  padding-bottom:64px;
}
.content-area{
  margin: 0 auto;
}

/* spacing */

.mt-0{ margin-top: 0; }

.mt-24{
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.my-24{
  margin-top: 24px;
  margin-bottom: 24px;
}
.mx-18{
  margin-right: 18px;
  margin-left: 18px;
}
.py-12{
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-40{
  padding-top: 64px;
  padding-bottom: 64px;
}
.mt-0 {
  margin-top: 0;
}
.pt-17{
  padding-top: 17px;
}
.pr-36{
  padding-right: 36px;
}
.pt-40{
  padding-top: 40px;
}
.py-36{
  padding-top: 36px;
  padding-bottom: 36px;
}
.pb-94{
  padding-bottom: 94px;
}

/* typography */

.title{
  font-family: 'PT Serif', serif;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.headline{
  font-family: 'PT Serif', serif;
}
.title:before{
  display: inline-block;
  content: "";
  height: 3px;
  width: 60px;
  background-color: var(--yellow-7);
  margin-right: 18px;
  margin-bottom: 10px;
  border-radius: 1.5px;
}


/* utilities */
.border-y{
  border-top: 1px solid var(--blue-9);
  border-bottom: 1px solid var(--blue-9);
}
.wave{
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%2303449E' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); 
}


/* media queries */
@media only screen and (max-width: 936px) {
  .right-col, .left-col{
    padding-left: 0;
    padding-right: 0;
  }
  .title-area{
    margin-right: 0;
  }
}