@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Fira+Sans:400,500,700,700i,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700&display=swap");
@import "./color.css";
/* page transition */
.page-enter-active,
.page-leave-active {
  /* transition: all 0.4s; */
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  /* transform: scale(0); */
}
/* elements */
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  z-index: 1;
  /* outline: 1px solid red; */
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  /* overflow-y: scroll; */
  /* margin-left: calc(100vw - 100%); */
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  color: hsl(209, 20%, 25%);
  /* background: rgb(39, 171, 131);
  background: linear-gradient(
    30deg,
    rgba(39, 171, 131, 1) 0%,
    rgba(76, 99, 182, 1) 100%
  ); */
  font-size: 18px;
  line-height: 28px;
}
p {
  max-width: 530px;
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0;
}
